  
<div class="container-fluid col-lg-10">
 <div class="row">
  <div class="col-md-3 mb-3">
  </div>
 </div>
  <h1>会員情報登録</h1>
  <%= form_with model:@customer, local:true dp |f| %>
  <tbody>
   <tr>
    <th>氏名</th>
    <td><%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"田中" %></td>
    <td><%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"太郎" %></td>
   </tr>
  </tbody>
  <div class="row">
   <div class="col-md-4 offset-md-4">
    <%= f.submit "内容を保存", class:'btn btn-success' %>
    <% end %>
   </div>
  </div>
</div>