<% if @model == 'item' %>
 <h3>「商品検索結果」検索ワード:<%= @content %></h3>
 <%= render 'items', items: @records %>
<% else @model == 'genres' %>
 <h3>「ジャンル検索結果」検索ワード:<%= @content %></h3>
  <%= render 'genres', genres: @records %>
<% end %>